body {
    font-family: sans-serif;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 0;
}
img.title{
    opacity: 0.0;
    transition: opacity 1.0s;
    max-width:100%;
    height:auto;
}
img.title.show{
    opacity: 1.0;
}

div.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 700px;
    padding: 20px;
}
div.container .show img{
    max-width:100%;
    height:auto;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

#story #survey div {
    opacity: 1.0;
}
#story #survey p {
    opacity: 1.0;
}

#story div.fadein {
    opacity: 0.0;
    transition: opacity 1.0s;
}

#story div.fadein.show {
    opacity: 1.0;
}

.priorChoice p{
   color: #f48898;
   font-weight: bold;
}
  
p.choice {
    opacity: 0.0;
    transition: opacity 1.0s;
    text-align: left;
    margin-left: 40px;
}
p.choice.show {
    opacity: 1.0;
}
a{
    color: #f48898;
}
a:hover {
    text-decoration: none;
}
a.externalLink{
    color: #03c1d2;
}
a.externalLink:hover {
    color: #00828e;
}
blockquote{
font-style: italic;
}
blockquote p{
font-size: 0.95em;
}

#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #fff; z-index:9999;}
