body {
    font-family: sans-serif;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 0;
}
img.title{
    opacity: 0.0;
    transition: opacity 1.0s;
    max-width:100%;
    height:auto;
}
img.title.show{
    opacity: 1.0;
}

div.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 700px;
    padding: 20px;
}
div.container .show img{
    max-width:100%;
    height:auto;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

#story #survey div {
    opacity: 1.0;
}
#story #survey p {
    opacity: 1.0;
}

#story div.fadein {
    opacity: 0.0;
    transition: opacity 1.0s;
}

#story div.fadein.show {
    opacity: 1.0;
}

.priorChoice p{
   color: #f48898;
   font-weight: bold;
}
  
p.choice {
    opacity: 0.0;
    transition: opacity 1.0s;
    text-align: left;
    margin-left: 40px;
}
p.choice.show {
    opacity: 1.0;
}
a{
    color: #f48898;
}
a:hover {
    text-decoration: none;
}
a.externalLink{
    color: #03c1d2;
}
a.externalLink:hover {
    color: #00828e;
}
blockquote{
font-style: italic;
}
blockquote p{
font-size: 0.95em;
}

#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #fff; z-index:9999;}

form{
    opacity: 0.0;
    transition: opacity 1.0s;
}
form.show{
    opacity: 1.0;
}

input, textarea {
background-color: rgba(197, 243, 248, 0.32);
padding:6px;
border-width:3px;
border-color:rgb(44, 209, 228);
border-style:solid;
min-width:200px;
min-width:220px;
display:block;
clear:both;
margin-bottom: 15px;
}

input.submit {
box-sizing: content-box;
background-color: rgb(44, 209, 228);
color:#fff;
cursor: pointer;
display: inline-block;
font-weight: bold;
}

/*input[type=text] {
background-color: rgba(244, 138, 152, 0.1);
padding:6px;
border-width:3px;
border-color:rgba(244, 138, 152, 1);
border-style:solid;
margin-left: 10px;
min-width:190px;
}*/

input.is-hidden{
    display:none;
}

.hidden{
display:none;
}

.contact-form{
	margin-left:40px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:rgb(44, 209, 228);
  font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color:rgb(44, 209, 228);
  font-style:italic;

}
:-ms-input-placeholder { /* IE 10+ */
  color:rgb(44, 209, 228);
  font-style:italic;
}
:-moz-placeholder { /* Firefox 18- */
  color:rgb(44, 209, 228);
  font-style:italic;
}
.objectionAnchor{
}
